<!-- Footer -->
  <div id="footer">
    <div class="container">

      <!-- Footer List -->
        <div id="contact">
          <ul>
            <li>
              <div class="p-icon">
                <span class="fa fa-cog"></span>
              </div>
              <span>
                130 Canyon Circle<br />
                San Luis Obispo, CA 93410
              </span>
            </li>
            <li>
              <div class="p-icon">
                <span class="fa fa-anchor"></span>
              </div>
              <span><a href="#">info@untitled.com</a><br />
              <a href="#">contact@untitled.com</a></span>
            </li>
            <li>
              <div class="p-icon">
                <span class="fa fa-user"></span>
              </div>
              <span>(000) 555-555-5555<br /> (000) 888-888-8888</span>
            </li>
            <li>
              <div class="p-icon">
                <span class="fa fa-envelope"></span>
              </div>
              <span><a href="#">@untitled-corp</a><br />
              <a href="#">facebook.com/untitled-corp</a></span>
            </li>
          </ul>
        </div>


        <!-- Copyright -->
          <div id="copyright">
            &copy; {{ site.title }}. All rights Reserved
          </div>

      </div>
    </div>

</div>


  <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
