<!-- Footer -->
  <div id="footer">
    <div class="container">

      <!-- Footer List -->
        <div id="contact">
          <ul>
            <li>
              <a href="https://github.com/jpanged/" target="_blank">
                GitHub
              </a>
            </li>
            <li>
              <a href="mailto:jpang06@calpoly.edu" target="_blank">
                Email
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/josiahpang" target="_blank">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>


        <!-- Copyright -->
          <div id="copyright">
            &copy; {{ site.title }}. All rights Reserved
          </div>

      </div>
    </div>

</div>
