
<!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Logo -->
        <div id="logo">
          <h1><a href="index">{{ site.title }}</a></h1>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="about">About Me</a></li>
            <li><a href="updates">Updates</a></li>
            <li>
              <a href="#">Projects</a>
              <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li>
                  <a href="#">Phasellus consequat</a>
                  <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Phasellus consequat</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam dolore nisl</a></li>
                    <li><a href="#">Veroeros feugiat</a></li>
                  </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
              </ul>
            </li>
            <li><a href="experience">Experience</a></li>
            <li><a href="two-sidebar.html">Two Sidebar</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li> | </li>
            <li><a href="https://www.linkedin.com/in/josiahpang" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
            <li><a href="https://github.com/jpanged/" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
            <li><a href="mailto:jpang06@calpoly.edu" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
          </ul>
        </nav>

    </div>
  </div>
