<!DOCTYPE HTML>

<html>
	<!-- Head  -->
	{% include head.html %}
	
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				{% include header.html %}

			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Content -->
						<div id="main" class="container">
							<div class="row">
								<div id="content" class="12u">
									<article>
										<header>
											<h2>No Sidebar</h2>
											<span class="byline">Pellentesque quis elit non lectus gravida blandit</span>
										</header>
										{{ content }}

									</article>
								</div>
							</div>
						</div>

				</div>

			{% include footer.html %}

	</body>
</html>
